<aside class="sidemenu">
    <div class="sidemenu-wrapper">
        <div class="logo">
        </div>
        <ul class="main-menu">
            <li class="main-menu__item">
                <a href="" class="main-menu__item-link">Side Menu item 1</a>
            </li>
            <li class="main-menu__item">
                <a href="" class="main-menu__item-link">Side Menu item 2</a>
            </li>
            <li class="main-menu__item">
                <a href="" class="main-menu__item-link">Side Menu item 3</a>
            </li>
            <li class="main-menu__item">
                <a href="" class="main-menu__item-link">Side Menu item 4</a>
            </li>
            <li class="main-menu__item">
                <a href="" class="main-menu__item-link">Side Menu item 5</a>
            </li>
        </ul>
    </div>
</aside>
