.main-wrapper

app-header
    height: 64px
    width: 100%
    display: block
.content
    height: calc(100vh - 96px)
    background: #f0f0f0
app-footer
    height: 32px
    width: 100%
    display: block
