<div class="dashboard">
    <div class="row">
        <div class="col-md-6 card-wrapper">
            <app-card-income></app-card-income>
        </div>
        <div class="col-md-6 card-wrapper">
            <app-card-activity></app-card-activity>
        </div>
        <div class="col-md-6 card-wrapper">
            <app-card-views></app-card-views>
        </div>
        <div class="col-md-6 card-wrapper">
            <app-card-today-income></app-card-today-income>
        </div>
    </div>
</div>

